################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IchiPaint/bin
/IchiPaint/obj/Debug
IchiPaint/node_modules/
