<footer>
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h3 class="widget-title">CÔNG TY CỔ PHẦN NORTH ICHI</h3>
                    <div class="widget-content">
                        Km3 Phan Trọng Tuệ - Tam Hiệp - Huyện Thanh Trì - TP. Hà Nội <br />
                    </div>
                    <br>
                    <div class="widget-content">
                        ĐT: (84-24) 3685 7089 / 11 - Fax: (84-24) 3647 0172
                    </div>
                </div>
            </div> <!--End column-->
            <div class="col-sm-4">
                <div class="widget">
                    <h3 class="widget-title">C.TY CỔ PHẦN THƯƠNG MẠI SƠN ICHI MIỀN TRUNG</h3>
                    <div class="widget-content">
                        ĐC: Lô 4-5 đường Trần Thị Lý, P. Hòa Cường Bắc, Q. Hải Châu, TP Đà Nẵng<br />
                    </div>
                    <br>
                    <div class="widget-content">
                        ĐT: (84-236) 3552 688 / 99 - Fax: (84-236) 3552 689
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget">
                    <h3 class="widget-title">CÔNG TY CỔ PHẦN ICHI VIỆT NAM</h3>
                    <div class="widget-content">
                        ĐC: 72 Quốc Lộ 1A - PK3 - P.Hiệp Bình Phước - Q.Thủ Đức - TP.Hồ Chí Minh<br />
                    </div>
                    <br>
                    <div class="widget-content">
                        ĐT: (84-28) 6284 9003 / 6 - Fax: (84-28) 6084 9007
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h3 class="widget-title">CÔNG TY CỔ PHẦN SƠN ICHI VIỆT NAM</h3>
                    <div class="widget-content">
                        ĐC: Lô A6- Đường 5 - KCN Hải Sơn - Đức Hòa Hạ - Đức Hòa - Long An <br />
                    </div>
                    <br>
                    <div class="widget-content">
                        ĐT: (84-272) 3775 277 / 8 - Fax: (84-272) 3755 279
                    </div>
                </div>
            </div> 

            <div class="col-sm-4">
                <div class="widget">
                    <h3 class="widget-title">CÔNG TY CỔ PHẦN SƠN MOR ICHI VIỆT NAM</h3>
                    <div class="widget-content">
                        ĐC: 345 Võ Văn Kiệt - P.An Thới - Q.Bình Thủy - TP.Cần Thơ<br />
                    </div>
                    <br>
                    <div class="widget-content">
                        ĐT: (84-292) 6510 298 - Fax: (84-292) 6510 299
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h3 class="widget-title">CÔNG TY ĐẦU TƯ VÀ CÔNG NGHỆ SƠN ICHI</h3>
                    <div class="widget-content">
                        ĐC: 211 Phố Huế - P.Phố Huế - Q.Hai Bà Trưng - Hà Nội <br />
                    </div>
                    <br>
                    <div class="widget-content">
                        ĐT: (84-222) 3745 952 / 3 - Fax: (84-222) 3745 954
                    </div>
                </div>
            </div> 

        </div>
    </div>
    <div class="copyright2">© Copyright 2017 Sơn Ichi , all rights reservedd</div>
</footer>
<style>
     footer{
         background-color: #4A4A4A;
         padding-top: 50px;
         color: #9B9B9B;
         font-size: 17px;
    }
     footer .widget-title {
         color: #fff;
         font-size: 18px;
         font-weight: 300;
         background: none;
         padding: 0 0 12px;
         margin-bottom: 12px;
     }
     footer .copyright2 {
         border-top: 1px solid #9B9B9B;
         font-size: 10px;
         text-align: center;
         padding: 10px 0;
         color: #fff;
</style>