<footer>
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h3 class="widget-title">Văn phòng ICHI</h3>
                    <div class="widget-content">
                        VP TP.HCM: Số 2, Xa lộ Trường Sơn, P. Hiệp Bình Phước, Thủ Đức <br />
                    </div>
                    <br>
                    <div class="widget-content">
                        ĐT: 028.3636.0248 - 028.6360.249
                    </div>
                </div>
            </div> <!--End column-->
            <div class="col-sm-4">
                <div class="widget">
                    <h3 class="widget-title">&nbsp;</h3>
                    <div class="widget-content">
                        VP Cần Thơ: 345 Võ Văn Kiệt, P. An Thới, Q. Bình Thủy,Cần Thơ<br />
                    </div>
                    <br>
                    <div class="widget-content">
                        ĐT: 029.2651.0298
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget">
                    <h3 class="widget-title">&nbsp;</h3>
                    <div class="widget-content">
                        Nhà máy : Lô A6, đường số 5, KCN Hải Sơn, Xã Đức Hòa, Long An<br />
                    </div>
                    <br>
                    <div class="widget-content">
                        ĐT: 0272.377.5278
                    </div>
                </div>
            </div> 
        </div>  
    </div>
    <div class="copyright2">© Copyright 2017 Sơn Ichi , all rights reservedd</div>
</footer>
<style>
     footer{
         background-color: #4A4A4A;
         padding-top: 50px;
         color: #9B9B9B;
         font-size: 18px;
    }
     footer .widget-title {
         color: #fff;
         font-size: 18px;
         font-weight: 300;
         background: none;
         padding: 0 0 12px;
         margin-bottom: 12px;
     }
     footer .copyright2 {
         border-top: 1px solid #9B9B9B;
         font-size: 10px;
         text-align: center;
         padding: 10px 0;
         color: #fff;
</style>