<header id="header">
    <div class="container">
        <a href="http://@Request.Url.Authority" id="logo">
            <img class="hidden-xs" src="/Content/Upload/images/Logo.png" alt="" style="width: 170px">
            <img class="visible-xs" src="/Content/Upload/images/Logo.png" alt="">
        </a>
        <div class="menu-mainmenu">
            <ul class="mainmenu">
                <li class="">
                    <a href="http://@Request.Url.Authority" class="btnT ">
                        <span class="btnL"></span>
                        <span class="btnR"></span>
                        <span class="text">Trang Chủ </span>
                    </a>
                </li>
                <li class="parent">
                    <a href="javascript:;" class="btnT ">
                        <span class="btnL"></span>
                        <span class="btnR"></span>
                        <span class="text">Về ICHI</span>
                    </a>
                    <ul>
                        <li class="active"> <a href="/gioi-thieu.htm">Giới Thiệu Chung</a></li>
                        @*<li class="active"><a href="/ve-chung-toi.htm">Về Chúng Tôi</a></li>*@
                        <li class="active"> <a href="/cong-trinh-tieu-bieu.htm">Công Trình Tiêu Biểu</a></li>
                        <li class="active"> <a href="/chung-nhan-san-pham.htm">Chứng nhận sản phẩm</a></li>
                        <li class="active"> <a href="/chinh-sach-dai-ly.htm">Chính sách đại lý</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/bang-mau.htm" class="btnT ">
                        <span class="btnL"></span>
                        <span class="btnR"></span>
                        <span class="text">Bảng Màu </span>
                    </a>
                </li>
                <li class="parent">
                    <a href="javascript:;" class="btnT ">
                        <span class="btnL"></span>
                        <span class="btnR"></span>
                        <span class="text">Sản Phẩm</span>
                    </a>
                    <ul>
                        <li class="active"> <a href="/san-pham/son-noi-that.htm">Sơn nội thất</a></li>
                        <li class="active"> <a href="/san-pham/son-ngoai-that.htm">Sơn ngoại thất</a></li>
                        @*<li class="active"> <a href="/san-pham/son-tau-bien.htm">Sơn tàu biển</a></li>*@
                        <li class="active"> <a href="/san-pham/san-pham-khac.htm">Sản phẩm khác</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/tin-tuc.htm" class="btnT ">
                        <span class="btnL"></span>
                        <span class="btnR"></span>
                        <span class="text">Tin Tức</span>
                    </a>
                </li>
                <li class="parent">
                    <a href="javascript:;" class="btnT ">
                        <span class="btnL"></span>
                        <span class="btnR"></span>
                        <span class="text">Dịch Vụ</span>
                    </a>
                    <ul>
                        <li class="active"><a href="/dich-vu/xem-mau-phong-thuy.htm">Xem màu phong thủy</a></li>
                        <li class="active"><a href="/dich-vu/cong-cu-tinh-luong-son.htm">Công thức tính tương đối m2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/dang-ky-tu-van.htm" class="btnT">
                        <span class="btnL"></span>
                        <span class="btnR"></span>
                        <span class="text">Đăng Ký Tư Vấn </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="btnT">
                        <span class="btnL"></span>
                        <span class="btnR"></span>
                        <span class="text">Liên Hệ </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <span class="menu-btn"><span></span></span>
        </div>
    </div>
</header>