
@{
    ViewBag.Title = "Bảng màu nội thất";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main_container">
        <div class="container">
            <h2 class="color-main text-center" style="margin-bottom: 45px; margin-top: 45px;">
                <span>
                    Bảng màu nội thất
                </span>
            </h2>
            <img src="~/Content/Images/BangMau/BM_Trong_0001.jpg" />
            <img src="~/Content/Images/BangMau/BM_Trong_0002.jpg" />
            <img src="~/Content/Images/BangMau/BM_Trong_0003.jpg" />
            <img src="~/Content/Images/BangMau/BM_Trong_0004.jpg" />
        </div>
    </div>
