
@{
    ViewBag.Title = "ColorBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 


<div id="main_container">
    <h2 style="text-align:center">Bảng màu</h2>
    <div class="w3-content w3-display-container">
        <img class="mySlides" src="~/Content/Upload/images/BANG_MAU_ICHI_2018_001.jpg" style="width:100%">
        <img class="mySlides" src="~/Content/Upload/images/BANG_MAU_ICHI_2018_002.jpg" style="width:100%">
        <img class="mySlides" src="~/Content/Upload/images/BANG_MAU_ICHI_2018_003.jpg" style="width:100%">
        <img class="mySlides" src="~/Content/Upload/images/BANG_MAU_ICHI_2018_004.jpg" style="width:100%">
        <img class="mySlides" src="~/Content/Upload/images/BANG_MAU_ICHI_2018_005.jpg" style="width:100%">
        <img class="mySlides" src="~/Content/Upload/images/BANG_MAU_ICHI_2018_006.jpg" style="width:100%">
        <img class="mySlides" src="~/Content/Upload/images/BANG_MAU_ICHI_2018_007.jpg" style="width:100%">
        <img class="mySlides" src="~/Content/Upload/images/BANG_MAU_ICHI_2018_008.jpg" style="width:100%">

        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
</div>

<script>
    var slideIndex = 1;
    $(document).ready(function () {
        showDivs(slideIndex);
    });

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>
@*<div id="main_container">
        <div class="container">
            <h2 class="color-main text-center" style="margin-bottom: 45px; margin-top: 45px;">
                <span>
                    Bảng màu
                </span>
            </h2>
            <img src="~/Content/Upload/images/BANG_MAU_ICHI_2018_001.jpg"/>
                <img src="~/Content/Upload/images/BANG_MAU_ICHI_2018_002.jpg"/>
                <img src="~/Content/Upload/images/BANG_MAU_ICHI_2018_003.jpg"/>
                <img src="~/Content/Upload/images/BANG_MAU_ICHI_2018_004.jpg"/>
                <img src="~/Content/Upload/images/BANG_MAU_ICHI_2018_005.jpg"/>
                <img src="~/Content/Upload/images/BANG_MAU_ICHI_2018_006.jpg"/>
                <img src="~/Content/Upload/images/BANG_MAU_ICHI_2018_007.jpg"/>
                <img src="~/Content/Upload/images/BANG_MAU_ICHI_2018_008.jpg"/>
        </div>
    </div>*@
