@model IchiPaint.Models.ListProject

@{
    ViewBag.Title = "Dự án nổi bật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main_container">
    <div class="container" style="padding-bottom: 100px">
        <div class="max-830">
            <h2 class="color-main text-center" style="margin-bottom: 45px; margin-top: 45px;">
                <span>
                    Công trình tiêu biểu
                </span>
            </h2>
        </div>
        <div id="slideshow" class="single-slide owl-carousel s-dots s-nav s-auto s-loop">

            @foreach (var item in Model.Collection)
            {
                <div class="item bg-lazy" data-src="@item.Avatar"> </div>
            }
        </div>
    </div>
</div>

<script>
            //$('.project-slide').owlCarousel({
            //    navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            //    items: 1,
            //    autoplayHoverPause: false,
            //    autoplay: $(this).hasClass('s-auto') ? true : false,
            //    dots: $(this).hasClass('s-dots') ? true : false,
            //    loop: true,
            //    lazyLoad: $(this).hasClass('s-lazy') ? true : false,
            //    nav: $(this).hasClass('s-nav') ? true : false,
            //    stopOnHover: false

            //    // autoplaySpeed:1000
            //})
</script>