@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main_container">
    <div class="container">
        <div class="max-830" style="max-width: 1100px;">

            <div class="row">
                <div class="col-lg-12 col-md-12 mb-4 mt-10">

                    <!--Modal: Name-->
                    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">

                            <!--Content-->
                            <div class="modal-content">

                                <!--Body-->
                                <div class="modal-body mb-0 p-0">

                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eEpGOQWTkKA"
                                                allowfullscreen></iframe>
                                    </div>

                                </div>

                                <!--Footer-->
                                <div class="modal-footer justify-content-center">
                                    <span class="mr-4">North Ichi!</span>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                            <!--/.Content-->

                        </div>
                    </div>
                    <!--Modal: Name-->

                    <a>
                        <img class="img-fluid z-depth-1" src="http://www.sonichi.vn/Content/Images/Banner/banner-002.jpg" alt="video"
                             data-toggle="modal" data-target="#modal1">
                    </a>

                </div>

            </div>

            <div class="row" style="margin-top:15px">
                <div class="col-lg-3 col-md-12 mb-4">

                    <!--Modal: Name-->
                    <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">

                            <!--Content-->
                            <div class="modal-content">

                                <!--Body-->
                                <div class="modal-body mb-0 p-0">

                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/qZYA5API8jk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>

                                </div>

                                <!--Footer-->
                                <div class="modal-footer justify-content-center">
                                    <span class="mr-4">North Ichi!</span>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                            <!--/.Content-->

                        </div>
                    </div>
                    <!--Modal: Name-->

                    <a>
                        <img class="img-fluid z-depth-1" src="http://www.sonichi.vn/Content/Images/Banner/banner-001.jpg" alt="video"
                             data-toggle="modal" data-target="#modal6">
                    </a>

                </div>

                <div class="col-lg-3 col-md-12 mb-4">

                    <!--Modal: Name-->
                    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">

                            <!--Content-->
                            <div class="modal-content">

                                <!--Body-->
                                <div class="modal-body mb-0 p-0">

                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KK12IQ3VYH0"
                                                allowfullscreen></iframe>
                                    </div>

                                </div>

                                <!--Footer-->
                                <div class="modal-footer justify-content-center">
                                    <span class="mr-4">North Ichi!</span>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                                </div>

                            </div>
                            <!--/.Content-->

                        </div>
                    </div>
                    <!--Modal: Name-->

                    <a>
                        <img class="img-fluid z-depth-1" src="http://www.sonichi.vn/Content/Images/Banner/banner-003.jpg" alt="video"
                             data-toggle="modal" data-target="#modal4">
                    </a>

                </div>

                <div class="col-lg-3 col-md-12 mb-4">

                    <!--Modal: Name-->
                    <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">

                            <!--Content-->
                            <div class="modal-content">

                                <!--Body-->
                                <div class="modal-body mb-0 p-0">

                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/51rhhnDauGc"
                                                allowfullscreen></iframe>
                                    </div>

                                </div>

                                <!--Footer-->
                                <div class="modal-footer justify-content-center">
                                    <span class="mr-4">North Ichi!</span>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                                </div>

                            </div>
                            <!--/.Content-->

                        </div>
                    </div>
                    <!--Modal: Name-->

                    <a>
                        <img class="img-fluid z-depth-1" src="http://www.sonichi.vn/Content/Images/Banner/banner-005.jpg" alt="video"
                             data-toggle="modal" data-target="#modal7">
                    </a>

                </div>

                <div class="col-lg-3 col-md-12 mb-4">

                    <!--Modal: Name-->
                    <div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">

                            <!--Content-->
                            <div class="modal-content">

                                <!--Body-->
                                <div class="modal-body mb-0 p-0">

                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_K4W4E8sn50"
                                                allowfullscreen></iframe>
                                    </div>

                                </div>

                                <!--Footer-->
                                <div class="modal-footer justify-content-center">
                                    <span class="mr-4">North Ichi!</span>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                                </div>

                            </div>
                            <!--/.Content-->

                        </div>
                    </div>
                    <!--Modal: Name-->

                    <a>
                        <img class="img-fluid z-depth-1" src="http://www.sonichi.vn/Content/Images/Banner/banner-005.jpg" alt="video"
                             data-toggle="modal" data-target="#modal8">
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $('#modal1').on('hidden.bs.modal', function (e) {
        // do something...
        $('#modal1 iframe').attr("src", $("#modal1 iframe").attr("src"));
    });

    $('#modal6').on('hidden.bs.modal', function (e) {
        // do something...
        $('#modal6 iframe').attr("src", $("#modal6 iframe").attr("src"));
    });

    $('#modal4').on('hidden.bs.modal', function (e) {
        // do something...
        $('#modal4 iframe').attr("src", $("#modal4 iframe").attr("src"));
    });

    $('#modal7').on('hidden.bs.modal', function (e) {
        // do something...
        $('#modal7 iframe').attr("src", $("#modal7 iframe").attr("src"));
    });

    $('#modal8').on('hidden.bs.modal', function (e) {
        // do something...
        $('#modal8 iframe').attr("src", $("#modal8 iframe").attr("src"));
    });
</script>
